<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenyacheng.homecomponent">

    <application
        android:name=".HomeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/sym_def_app_icon"
        android:roundIcon="@mipmap/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 首页页面 -->
        <activity android:name=".ui.activity.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
