<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenyacheng.homecomponent">

    <application android:allowBackup="false">
        <!-- 首页页面 -->
        <activity android:name=".ui.activity.home.HomeActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="com.chenyacheng.homecomponent"
                    android:scheme="arouter" />
            </intent-filter>
        </activity>
    </application>

</manifest>