<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenyacheng.findcomponent">

    <application
        android:allowBackup="false">
        <activity android:name=".ui.activity.find.FindActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="com.chenyacheng.findcomponent"
                    android:scheme="arouter" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.one.OneActivity" />
        <activity android:name=".ui.activity.two.TwoActivity" />
        <activity android:name=".proxy.Login1Activity" />
    </application>

</manifest>
